.DS_Store

.gradle
!gradle/wrapper/gradle-wrapper.jar
build.gradle
gradle/wrappergradlew
gradle/
gradlew
gradlew.bat


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Random ###
database/

##Config Files##
config/application.properties