<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<h3>Breeders</h3>
<p th:unless="${breeders} and ${breeders.size()}">no breeders :(</p>
<p><a href="/breeders/add">Add a Breeder</a></p>
<ul>
    <li th:each="breeder : ${breeders}"><a th:href="'/breeders/view/' + ${breeder.id}" th:text="${breeder.name}"></a></li>
</ul>


</body>
</html>