<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<h3 th:text="${breeder.name}"></h3>
<div>
    <h4>State</h4>
    <p><a th:href="'/' + ${breeder.state}" th:text="${breeder.state.unabbreviated}"></a></p>
</div>
<h4>Breeds</h4>
<ul>
    <li th:each="breed : ${breeder.Breeds}"><a th:href="@{../../breeds/view(breed=${breed.name})}" th:text="${breed.name}"></a></li>
</ul>
<h4>Website</h4>
<p th:text="${breeder.url}"></p>
<div th:unless="${breeder.phone} == ''">
<h4 th:unless="${breeder.phone} == ''">Phone</h4>
<p th:text="${breeder.phone}"></p>
</div>
<a th:href="'/breeders/edit/' + ${breeder.id}">Edit Breeder</a>

</body>
</html>