<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container-fluid px-0">

<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                    <h3 class="card-header" th:text="${breeder.name}"></h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h4>State</h4>
                            <p class="card-text"><a th:href="'/' + ${breeder.state}" th:text="${breeder.state.unabbreviated}"></a></p>
                        </li>
                        <li class="list-group-item">
                            <h4>Breeds</h4>
                            <p class="card-text" th:unless="${breeder.Breeds.size()}">This breeder doesn't have any breeds yet.</p>
                            <p class="card-text" th:if="${breeder.Breeds.size()}" th:each="breed : ${breeder.Breeds}"><a th:href="@{../../breeds/view(breed=${breed.name})}"
                                                                                                                                  th:text="${breed.name}"></a></p>
                        </li>
                        <li class="list-group-item">
                            <h4>Website</h4>
                            <p class="card-text"><a th:href="${breeder.url}" th:text="${breeder.url}"></a></p>
                        </li>
                        <li class="list-group-item" th:unless="${breeder.phone} == ''">
                            <!-- <div th:unless="${breeder.phone} == ''"> -->
                                <h4 th:unless="${breeder.phone} == ''">Phone</h4>
                                <p class="card-text" th:text="${breeder.phone}"></p>
                        </li>
                    </ul>
                <div class="card-body">
                    <a class="btn btn-primary" th:href="'/breeders/edit/' + ${breeder.id}">Edit Breeder</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>